@import url("https://fonts.googleapis.com/css2?family=Alegreya:wght@700&family=Dancing+Script&family=Noto+Serif:wght@500&display=swap");
.seccionPrincipal {
  font-family: "Dancing Script";
  text-align: center;
  align-items: center;
}
.textoError404 {
  font-size: 24px;
  font-weight: bold;
  color: rgb(49, 49, 49);
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.781);
}

@media (max-width: 768px) {
  .error404-img {
    width: 80%;
  }
}

.textoError404 {
  font-size: 2rem;
  font-weight: bold;
  color: rgba(230, 226, 11, 0.932);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.781);
}
