/* Aqui se desarrolla el css del la galeriaDeImagenes de la page principal */


.imgenesDecorado{
    width: 100%;
    border-radius: 5px;
    opacity: 0.78;
    /* cursor: pointer; */
}

.imgenesDecorado:hover{
    opacity: 1;
    transition: all 300ms;
    transform: scale(1.1);
}

.alineacionImagenes{
    /* color: whitesmoke; */
    display: flex;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    /* align-items: auto; */
    /* text-align: auto; */
}

li{
    list-style: none;
}