li {
    list-style: none;
    color: white;
}

:link {
    text-decoration: none;
}

li:hover {
    color: black;
}

header {
    position: relative;
    margin: 0;
}

.Navbar {
    width: 100vw;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
}

.PaginasNav {
    display: flex;
    gap: 2rem;

}

.BotonNav {
    background-color: #10846F;
    color: white;
    background-color: #10846F;
    color: white;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
    margin-bottom: 15px;
}

.BotonNav:hover {
    border: solid;
    border-color: #10846F;
    background-color: white;
    color: #10846F;
}