.LetraFooter {
    color: #10846F;
}

@import url('https: //fonts.googleapis.com/css2?family=Alegreya:wght@700&family=Dancing+Script&family=Noto+Serif:wght@500&display=swap');

.LetraFooterTitulo {

    color: #10846F;
    font-family: 'Dancing Script', cursive;
}

.Footer {
    width: 100%;
    height: 400px;
    background-color: #FFDEEA;
}

.col1-Footer {
    margin-top: 5% !important;
    background-color: white;
    height: 250px;
    width: 400px !important;
    display: flex;
    align-items: center;
}

/* .col2-Footer {
    background-color: white;
    width: 29rem;
    height: 250px;
}

.col3-Footer {
    background-color: white;
    width: 30rem;
    height: 250px;
} */

