.LetraFooter {
  color: #10846f;
}

@import url("https: //fonts.googleapis.com/css2?family=Alegreya:wght@700&family=Dancing+Script&family=Noto+Serif:wght@500&display=swap");

.LetraFooterTitulo {
  color: #10846f;
  font-family: "Dancing Script", cursive;
}

.Footer {
  width: 100%;
  height: 400px;
  background-color: #ffdeea;
}

.col1-Footer {
  margin-top: 5% !important;
  background-color: white;
  height: 250px;
  width: 400px !important;
  display: flex;
  align-items: center;
}

.ImgFoter {
  width: 80px;
  height: 80px;
  border-radius: 50px;
}
